.counter {
  display: flex;
  align-items: center;
}

.counter__value {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 2.6rem;
  font-weight: 600;
  color: #1d3a47;
  text-align: center;
  padding: 0.8rem;
  width: 7rem;
  border: none;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.counter__value:focus {
  outline: none;
  background-color: #ffffff;
}

.counter__value::-webkit-outer-spin-button,
.counter__value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter__button-minus,
.counter__button-plus {
  color: #b4b4b4;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease-in-out, box-shadow 0.3s linear,
    background-color 0.3s ease-in-out;
  box-shadow: 0 0 0 0 transparent;
}

.counter__button-minus:focus,
.counter__button-plus:focus {
  outline: none;
  color: #323031;
  background-color: #fffce0;
  box-shadow: 0 0 0 0.6rem #fffce0;
}

.counter__svg {
  fill: currentColor;
  display: block;
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

@media (hover: hover) {

  .counter__button-minus:hover,
  .counter__button-plus:hover {
    color: #323031;
    background-color: #fff068;
    box-shadow: 0 0 0 0.6rem #fffce0;
  }

}

@media screen and (max-width: 768px) {

  .counter__value {
    font-size: 3.6rem;
    width: 9rem;
  }

  .counter__button-minus,
  .counter__button-plus {
    width: 6rem;
    height: 6rem
  }

  .counter__svg {
    width: 5rem;
    height: 5rem;
  }

}
