.home {
  min-height: calc(100vh - 26.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6.5rem;
}

.home-image__img {
  width: 95rem;
  border-radius: 50%;
}

.home-content {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5rem;
}

.home__title {
  font-size: 9rem;
}

.home__description {
  width: 45rem;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

.home__button {
  font-size: 2.5rem;
}

@media screen and (max-width: 1024px) {

  .home {
    gap: 14rem;
  }

}

@media screen and (max-width: 767px) {

  .home {
    padding: 5rem 0;
    flex-direction: column;
    position: relative;
  }

  .home-image {
    display: flex;
  }

  .home-image__img {
    margin: auto;
    width: 95%;
    opacity: 60%;
  }

  .home-content {
    width: 70%;
    position: absolute;
    top: 70rem;
  }

}
