.filter {
  min-width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.filter-overlay {
  display: none;
}

.visible {
  width: 100vw;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--overlay-color);
  z-index: 20;
}

.filter-anchor-wrapper {
  display: none;
  transition: all 1s ease-in-out;
}

.filter-anchor {
  min-width: 28rem;
  padding: 2rem;
  font-size: 3.3rem;
  /* text-decoration: underline; */
  border: 0;
  color: var(--base-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.active .filter-anchor {
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--primary-color-disabled);
  border: 0.1rem solid var(--secondary-color);
}

.filter-category__title {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2.5rem;
}

.filter-category__slider-title {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 2.6rem;
  font-weight: 800;
}

.filter-list {
  display: flex;
  flex-direction: column;
}

.filter-list-colors {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
}

.filter-block__btn {
  display: none;
}

@media (hover: hover) {

  .filter-anchor:hover {
    text-decoration: none;
    color: var(--white-color);
  }

}

@media screen and (max-width: 1024px) {

  .filter {
    display: flex;
    padding: 5rem;
    min-width: 45rem;
    height: 100%;
    gap: 5rem;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
    z-index: 30;
  }

  .active {
    transform: translateX(0%);
  }

  .filter-anchor-wrapper {
    display: block;
    position: absolute;
    top: 5rem;
    right: -15rem;
  }

  .filter-category__title {
    font-size: 5rem;
  }

  .filter-category__slider-title {
    font-size: 3.5rem;
  }

  .filter-block__btn {
    display: block;
    background-color: var(--grey-light-color)!important;
  }

  .btn-apply {
    margin-top: 4rem;
  }

  .btn-reset {
    margin-top: -2rem;
  }

  .filter-list-colors {
    gap: 1.7rem;
  }

}

@media screen and (max-width: 768px) {

  .filter {
    padding: 4rem 7rem;
    min-width: 70rem;
  }

  .filter-anchor-wrapper {
    right: -28rem;
  }

  .active .filter-anchor-wrapper {
    right: 0rem;
  }

  .filter-anchor {
    padding: 2rem;
    font-size: 4rem;
  }

  .filter-list-colors {
    padding: 2rem 0;
    gap: 2.5rem;
  }

  .btn-apply {
    margin-top: 1rem;
  }

  .btn-reset {
    margin-top: -2rem;
  }

}

@media screen and (max-width: 500px) {

  .filter {
    padding: 5rem;
    min-width: 95rem;
    height: 100%;
    display: flex;
    gap: 8rem;
  }

  .filter-anchor {
    font-size: 5rem;
  }

  .filter-category__title {
    font-size: 7rem;
    margin-bottom: 7rem;
  }

  .filter-list {
    gap: 2rem;
  }

  .filter-list-colors {
    padding: 0;
    gap: 3rem;
  }

  .filter-category__slider-title {
    font-size: 5rem;
  }

  .btn-apply {
    margin-top: 6rem;
  }

  .btn-reset {
    margin-top: -3rem;
  }

}
