.product-view {
  border-radius: 3.2rem;
  background-color: var(--white-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.product-view__image-container {
  width: 30%;
  position: relative;
}

.product-view__image {
  margin: 0 auto;
  width: 40rem;
  display: block;
  object-fit: contain;
}

.product-view__content {
  padding: 3rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.product-view__title {
  font-size: 4rem;
  line-height: 1.2;
}

.product-view__tag {
  padding: 0.5rem 0;
  width: 18rem;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  border-radius: 0.8rem;
  color: var(--white-color);
  background-color: var(--grey-color);
  display: block;
  text-align: center;
}

.product-view__tag_instock {
  background-color: var(--success-color);
}

.product-view__tag_outstock {
  background-color: var(--error-color);
}

.product-view__price {
  font-family: Nunito, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -0.4rem;
  display: flex;
  align-items: center;
  gap: 12rem;
}

.product-view__current-price {
  font-size: 5rem;
  color: var(--secondary-color);
}

.product-view__old-price {
  font-size: 4.5rem;
  color: var(--grey-color);
  padding: 0 2rem;
  position: relative;
}

.product-view__old-price::before {
  content: "";
  width: 100%;
  height: 0.8rem;
  border-radius: 0.4rem;
  background-color: var(--secondary-color);
  display: block;
  position: absolute;
  top: calc(50% - 0.4rem);
  left: 0;
}

.product-view__current-price::after,
.product-view__old-price::after {
  content: " Br";
}

.product-view__control-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6rem;
}

.product-view__description {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 1.4;
  color: var(--base-color);
}

.product-view__description-title {
  margin-bottom: 1.5rem;
  font-weight: 800;
  letter-spacing: 0;
}

.product-view__description-item {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.product-view__property {
  color: var(--grey-color);
  width: 38rem;
}

@media screen and (max-width: 1024px) {

  .product-view {
    gap: 5rem;
  }

  .product-view__description {
    font-size: 2.3rem;
  }

}

@media screen and (max-width: 768px) {

  .product-view {
    padding: 2rem;
    gap: 12rem;
  }

  .product-view__image-container {
    width: 30%;
  }
  
  .product-view__image {
    width: 43rem;
  }
  
  .product-view__content {
    padding: 7rem 3rem;
    width: 70%;
  }

  .product-view__title {
    font-size: 5.5rem;
    line-height: 1.2;
  }

  .product-view__tag {
    padding: 1rem 0;
    width: 23rem;
    font-size: 3.5rem;
  }
  
  .product-view__description {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .product-view__description-title {
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }
  
  .product-view__description-item {
    font-size: 3.2rem;
    gap: 4rem;
  }

}

@media screen and (max-width: 500px) {

  .product-view {
    margin: 8rem 0rem;
    gap: 3rem;
  }
  
  .product-view__image {
    width: 38rem;
  }

  .product-view__title {
    font-size: 6rem;
  }
  
  .product-view__description {
    font-size: 3.5rem;
  }

  .product-view__description-title {
    margin-bottom: 3rem;
  }
  
  .product-view__description-item {
    font-size: 4rem;
  }

}
