.catalog-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.catalog-list-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem 6rem;
}

.catalog-list-empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-message{
  margin: auto;
}

@media screen and (max-width: 1024px) {

  .catalog-list {
    gap: 8rem;
  }

  .catalog-list-wrapper {
    grid-gap: 2rem 4rem;
  }

}

@media screen and (max-width: 768px) {

  .catalog-list-wrapper {
    grid-gap: 5rem 3rem;
  }

}

@media screen and (max-width: 500px) {

  .catalog-list {
    gap: 18rem;
  }

  .catalog-list-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

}
