.main {
  display: flex;
  flex: 1 1 auto;
}

.main__container {
  margin: auto;
  display: flex;
  padding: 8rem 0;
}

@media screen and (max-width: 1024px) {

  .main__container {
    padding: 1rem 0;
  }

}

@media screen and (max-width: 768px) {

  .main__container {
    padding: 0;
  }

}
