.button {
  padding: 2.5rem 4.5rem;
  text-decoration: none;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 2.3rem;
  font-weight: 600;
  border: 0;
  border-radius: 14rem;
  outline: none;
  color: var(--base-color);
  background-color: var(--primary-color-disabled);
  transition: box-shadow 0.3s ease-in-out;
}

.button:not([disabled]) {
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.25);
  background-color: var(--primary-color);
  cursor: pointer;
}

.button:not([disabled]):active {
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.25);
}

@media (hover: hover) {

  .button:not([disabled]):hover {
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.25);
  }

}

@media screen and (max-width: 768px) {

  .button {
    padding: 3.5rem 5.5rem;
    font-size: 3.5rem;
    line-height: 2rem;
  }

}

@media screen and (max-width: 500px) {

  .button {
    padding: 3.5rem 5.5rem;
    font-size: 4rem;
    line-height: 3rem;
  }

}
