.filter {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.filter-category {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.filter-category__title {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 800;
}

.filter-category-vector {
  background-image: url('../../../../images/chevron-down.svg');
  width: 16px;
  height: 16px;
  display: inline-block;
}

.active {
  background-image: url('../../../../images/chevron-up.svg');
}

.filter-wrapper {
  display: flex;
  gap: 20px;
}

.filter__input {
  width: 70px;
  height: 30px;
}

.filter__input::placeholder {
  padding-left: 5px;
  font-size: 12px;
}

.filter-list {
  display: flex;
  flex-direction: column;
}

.filter-list-colors {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-colors-item {
  font-size: 0;
  width: 20px;
  height: 20px;
}