.main-catalog {
  padding: 30px 0;
}

.main-catalog__title {
  margin: 0 0 40px 0;
}

.main-catalog-contain {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.catalog-list-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}