.page404,
.page-not-found {
  min-height: calc(100vh - 26.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page404__number,
.page-not-found__number {
  font-size: 23rem;
  color: var(--secondary-color);
}

.page404__text,
.page-not-found__text {
  width: 38rem;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 5rem;
}
