.header__container {
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-logo {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-logo__img {
  width: 26rem;
}

@media screen and (max-width: 1024px) {

  .header__container {
    padding: 3rem 0;
  }

  .header-logo__img {
    width: 24rem;
  }

}

@media screen and (max-width: 768px) {

  .header-logo__img {
    width: 30rem;
  }

}

@media screen and (max-width: 500px) {

  .header__container {
    width: 90%;
  }

}
