.input__textbox {
  padding: 0 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  width: 100%;
  height: 5rem;
  outline: none;
  border-radius: 0.8rem;
  border: 0.2rem solid var(--grey-color);
  background-color: var(--white-color);
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  box-shadow: 0 0 0 0 transparent;
}

.input__textbox:focus {
  box-shadow: 0 0 0 0.15rem var(--grey-dark-color);
}

.input__message {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 0.5rem;
  color: var(--grey-color);
  position: absolute;
}

.input_success .input__textbox {
  border: 0.1rem solid var(--success-color);
  box-shadow: 0 0 0 0.3rem var(--success-color);
}

.input_success .input__message {
  color: var(--success-color);
}

.input_error .input__textbox {
  border: 0.1rem solid var(--error-color);
  box-shadow: 0 0 0 0.3rem var(--error-color);
}

.input_error .input__message {
  color: var(--error-color);
}

.input_labeled .input__textbox {
  padding: 0.8rem 0.8rem 0.8rem 4rem;
}

.input_labeled .input__label {
  font-size: 2rem;
  font-weight: 300;
  color: var(--grey-color);
  position: absolute;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {

  .input__textbox {
    font-size: 3rem;
    height: 6rem;
  }

  .input_labeled .input__textbox {
    padding: 0.8rem 0.8rem 0.8rem 7rem;
  }

  .input_labeled .input__label {
    font-size: 3rem;
    left: 2rem;
  }

  .input__message {
    font-size: 2.5rem;
    padding: 1.7rem 0.8rem;
  }

}

@media screen and (max-width: 500px) {

  .input__textbox {
    font-size: 4.3rem;
    height: 7rem;
  }

  .input_labeled .input__textbox {
    padding: 4rem 4rem 4rem 7rem;
  }

}
