.nav__list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.nav__link {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 3.2rem;
  font-weight: 900;
  text-decoration: none;
  color: var(--base-color);
  transition: color 0.3s ease-in-out;
}

@media (hover: hover) {

  .nav__link:hover {
    color: var(--secondary-color);
  }

}

@media screen and (max-width: 767px) {

  .nav__link {
    font-size: 5.5rem;
  }

}
