.dualslider {
  padding-top: 2.6rem;
  min-height: 7rem;
  position: relative;
}

.dualslider__wrapper {
  position: relative;
  width: 100%;
}

.dualslider__track,
.dualslider__range,
.dualslider__min-value,
.dualslider__max-value {
  position: absolute;
}

.dualslider__track,
.dualslider__range {
  border-radius: 0.3rem;
  height: 0.5rem;
}

.dualslider__track {
  background-color: var(--grey-color);
  width: 100%;
  z-index: 1;
}

.dualslider__range {
  background-color: var(--secondary-color);
  z-index: 2;
}

.dualslider__min-value,
.dualslider__max-value {
  width: 12rem;
  margin-top: 3.5rem;
  font-size: 1.2rem;
  color: var(--grey-color);
}

.dualslider__min-value {
  left: 0;
}

.dualslider__min-value input::before {
  content: "от";
}

.dualslider__max-value {
  right: 0;
}

.dualslider__max-value input::before {
  content: "до";
}

.dualslider__thumb,
.dualslider__thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.dualslider__thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
}

.dualslider__thumb_left {
  z-index: 3;
}

.dualslider__thumb_right {
  z-index: 4;
}

.dualslider__thumb_upper {
  z-index: 5;
}

.dualslider__thumb::-webkit-slider-thumb {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 0 0 transparent;
  cursor: pointer;
  height: 2.6rem;
  width: 2.6rem;
  margin-top: 0.5rem;
  pointer-events: all;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.dualslider__thumb::-moz-range-thumb {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 0 0 transparent;
  cursor: pointer;
  height: 2.6rem;
  width: 2.6rem;
  margin-top: 0.5rem;
  pointer-events: all;
  position: relative;
}

@media (hover: hover) {

  .dualslider__thumb:hover::-webkit-slider-thumb {
    box-shadow: 0 0 0 5px rgba(253, 120, 152, 0.2);
  }
  
  .dualslider__thumb:hover::-moz-range-thumb {
    box-shadow: 0 0 0 0.6rem rgba(253, 120, 152, 0.2);
  }

}

@media screen and (max-width: 500px) {
  
  .dualslider {
    padding-top: 7rem;
    min-height: 14rem;
  }

  .dualslider__wrapper {
    height: 17rem;
  }

  .dualslider__track,
  .dualslider__range {
    height: 1rem;
  }

  .dualslider__thumb::-webkit-slider-thumb {
    height: 3.6rem;
    width: 3.6rem;
  }
  
  .dualslider__thumb::-moz-range-thumb {
    height: 3.6rem;
    width: 3.6rem;
  }

  .dualslider__min-value,
  .dualslider__max-value {
    width: 25rem;
    margin-top: 7rem;
    font-size: 2rem;
  }

}
