.footer {
  width: 100%;
  position: static;
  bottom: 0;
}

.footer__container {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contributors {
  display: flex;
  align-items: center;
  margin: 0;
}

.contributors__link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  text-decoration: none;
  color: var(--grey-color);
  transition: color 0.3s ease-in-out;
}

.contributors__link:hover {
  color: var(--base-color);
}

.contributors__link:hover path {
  fill: var(--base-color);
}

.contributors__icon {
  display: inline-block;
}

.contributors__link-label {
  font-size: 2rem;
  font-weight: 400;
}

.footer__copyright {
  color: var(--grey-dark-color);
  font-size: 1.5rem;
}

.footer__copyright:before {
  content: "© ";
}

.item__title {
  height: 100%;
  display: flex;
  align-items: center;
}

.github {
  width: 3.6rem;
  height: 3.6rem;
}

.github path,
.item__title {
  transition: all 0.3s ease-in-out;
}
