.search {
  position: relative;
}


.search__input {
  padding: 10px;
  height: 22px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: transparent;
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.search__input:focus {
  border: 1px solid var(--secondary-color);
  background-color: var(--white-color);
  box-shadow: 0 0 0 2px var(--secondary-color);
}

.search-icon {
  position: absolute;
  top: 0;
  right: 15px;
  width: 15px;
  height: 15px;
  color: var(--base-color);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
