.product {
  display: grid;
  grid-template-columns: 3rem 1fr 32rem repeat(4, 1fr);
  align-items: center;
  text-align: center;
  gap: 2.5rem;
}

.product__image {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
}

.product__title-link {
  text-decoration: none;
  font-family: Nunito, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  color: var(--base-color);
  transition: color 0.3s ease-in-out;
}

.product__price {
  width: 4rem;
  font-size: 2.3rem;
  font-weight: 900;
  justify-self: center;
}

.product__price::after {
  content: " Br";
}

.product__amount {
  width: 5rem;
  font-family: Nunito, Arial, sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
  justify-self: center;
}

.product__amount::after {
  content: " шт";
}

.product__remove {
  position: relative;
  padding: 0;
  margin: 0;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  border: none;
  color: var(--grey-color);
  background-color: var(--white-color);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 0 transparent;
  transition: color 0.3s ease-in-out, box-shadow 0.3s linear,
  background-color 0.3s ease-in-out;
  cursor: pointer;
}

.product__remove:focus {
  outline: none;
  background-color: #ffecec;
  box-shadow: 0 0 0 5px #ffecec;
}

.product__remove .icon {
  color: var(--base-color);
}

@media (hover: hover) {

  .product__title-link:hover {
    color: var(--secondary-color);
  }
  
  
  .product__remove:hover {
    background-color: var(--error-color);
    box-shadow: 0 0 0 5px #ffecec;
  }
  
  .product__remove:hover .icon {
    color: var(--white-color);
  }

}

@media screen and (max-width: 768px) {

  .product {
    grid-template-columns: 4rem 1fr 49rem repeat(4, 1fr);
    gap: 5rem;
  }

  .product__image {
    width: 20rem;
    height: 20rem;
  }

  .product__title-link {
    font-size: 4rem;
    line-height: 1.2;
  }

  .product__price {
    width: 4rem;
    font-size: 3.5rem;
  }

  .product__amount {
    font-size: 3.3rem;
  }

  .product__remove {
    width: 6.3rem;
    height: 6.3rem;
  }

}

@media screen and (max-width: 500px) {

  .product {
    grid-template-columns: 6rem 1fr 40rem repeat(4, 1fr);
    gap: 2.5rem;
  }

  .product__title-link {
    font-size: 3.2rem;
  }

}
