.balloon {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.balloon__circle {
  position: absolute;
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  z-index: -1000;
}

.balloon_red {
  background-color: rgba(255, 222, 230, 0.2);
  border: 0.8rem solid rgba(255, 203, 215, 0.2);
  width: 140rem;
  height: 140rem;
  top: -66rem;
  right: -28rem;
}

.balloon_yellow {
  background-color: rgba(255, 249, 199, 0.2);
  border: 0.8rem solid rgba(255, 246, 163, 0.2);
  width: 156rem;
  height: 156rem;
  top: 13rem;
  left: -65rem;
}

.balloon_blue {
  background-color: rgba(192, 255, 253, 0.2);
  border: 0.8rem solid rgba(169, 254, 252, 0.2);
  width: 110rem;
  height: 110rem;
  bottom: -65rem;
  right: -27rem;
}

@media screen and (max-width: 768px) {

  .balloon_yellow {
    top: 28rem;
    left: -42rem;
  }

  .balloon_blue {
    bottom: -35rem;
    right: -26rem;
  }

}

@media screen and (max-width: 500px) {

  .balloon_red {
    top: -47rem;
    right: -45rem;
  }

  .balloon_yellow {
    top: 34rem;
    left: -61rem;
  }

  .balloon_blue {
    bottom: -15rem;
  }

}
